
@media screen and (min-width: 300px) and (max-width: 800px) {

body {margin: 0px; padding: 0px; color: #fff; 

/* display: flex; justify-content: center; */


background: #17224D;}
html {scroll-behavior: smooth;} input {display: none;}
.Atras {display: inline-block;}

a {text-decoration: none;} a::selection {background: transparent;}
.M {padding: 0px 0px 30px 0px;}
.Bts_A { padding: 20px; justify-content: space-around; display: flex;
align-content: center;}

.BTS_ {background:  transparent;}
.BTS_ {padding: 5px 10px;background: transparent;
border-radius: 30px;border: solid 2px #fff;}

.ocultar {display: none;}
#Ocultar:checked + .ocultar {display: block;}


.OK_PERFIL {background: #ff1554;padding: 10px 0px 30px 0px; width: px;
overflow: hidden;white-space: normal; border-radius: 0px 0px 60px 60px;}
				
				
				
				
.Central_Texto::selection {background: transparent;}
.Central_Texto {margin: 10px; text-align: center;}
.text::selection {background: transparent;}
.text {color: #8fc562;}
.Uno {font-size: 50px;margin: 20px; color: #fff;}
.Uno_ {font-size: 35px;margin: 20px; color: #fff;}

.Uno_::selection {background: red;}

.Perfiles_Logo::selection {background: transparent;}
.Perfiles_Logo {width: 140px;border-radius: 100px;padding: 4px;
animation: fluido 15s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000px;
  /* 
  webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent; */

}
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}



.LOGO_IMAG {display: flex;justify-content: center;align-content: center;
text-align: center;}


}
